<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white">Lyncas Proof</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Configurações de Conta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
                    <a class="dropdown-item" routerLink="/account" routerLinkActive="active">Conta</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Configuração de prova
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/proof-register" routerLinkActive="active">Prova</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/question-register" routerLinkActive="active">Questões</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/answers-result" routerLinkActive="active">Provas realizadas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/proof-perform" routerLinkActive="active">Teste de conhecimento</a>
                    <div class="dropdown-divider"></div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownExit" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bem vindo, {{name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownExit">
                    <a class="dropdown-item" routerLink="/logout" routerLinkActive="active" (click)="auth.logout()">Sair</a>
                </div>
            </li>

        </ul>
    </div>
</nav>